In [72]:
from func import GetTable
import pandas as pd
import requests
import datetime
from requests.packages.urllib3.exceptions import InsecureRequestWarning
# ОТКЛЮЧАЕТ ВОРНИНГИ НО ВОЗМОЖНО ЗАМЕДЛЯЕТ
requests.packages.urllib3.disable_warnings(InsecureRequestWarning)

from requests.auth import HTTPBasicAuth
#import timing # запуск модуля timing (нашел в интеренете)
from time import perf_counter
import yaml

t1_start = perf_counter() # запуск начала отсчета

''' ЗАДАИМ ПАРАМЕТРЫ'''
with open('params.yaml', 'r', encoding='UTF-8' ) as f:
    params = yaml.safe_load(f)

'''Endpoint И АКРЕДЫ АУТЕНТИФИКАЦИИ '''
url = params['url']
login = params['login']
password = params['password']
''' СПИСОК GTIN'''
GTIN_LIST_path = params['GTIN_LIST_path']
GTIN_LIST_file = params['GTIN_LIST_file']
''' РЕЗУЛЬТАТ ВЫГРУЗКИ '''
output_folder = params['output_folder']
output_file = params['output_file']
''' ЗАДАИМ СПИСОК АТРИБУТОВ'''
Attributes_list = params['Attributes_list']


''' соберем авторизацию'''
auth = HTTPBasicAuth(login, password)

In [120]:
full_body = '''<SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="urn:org.gs1ru.gs46.intf">
    	<SOAP-ENV:Body>
    		<ns1:GetItemByGTIN>
    			<ns1:GTIN>4620005721227</ns1:GTIN>
    			<ns1:lang>RU</ns1:lang>
    			<ns1:showMeta>0</ns1:showMeta>
    			<ns1:noCache>0</ns1:noCache>
    			<ns1:loadChangeVersion>0</ns1:loadChangeVersion>
    			<ns1:noCascade>0</ns1:noCascade>
    			<ns1:noGepir>0</ns1:noGepir>
    		</ns1:GetItemByGTIN>
    	</SOAP-ENV:Body>
    </SOAP-ENV:Envelope>'''

resp = requests.post(url=url, data=full_body, auth=auth, verify=False)
answer = resp.content
XML_parsed_to_dict = xmltodict.parse(answer)

In [135]:
resp = requests.post(url=url, data=full_body, auth=auth, verify=False)
status_code = resp.status_code
#answer = resp.content
#XML_parsed_to_dict = xmltodict.parse(answer)
print(status_code)

200

In [131]:
infotype_record = 0
isinstance(common_part['InfoTypeRecords']['record'][infotype_record]['AttributeValues']['value'], list)

True

In [141]:
curent_attr_df = pd.DataFrame({'http_code':[200]})
curent_attr_df

   http_code
0        200

In [144]:
full_attr_df = pd.DataFrame({'A':['11','12'],'B':['21','22']})

result_attr_df = pd.concat([full_attr_df, curent_attr_df])
result_attr_df

     A    B  http_code
0   11   21        NaN
1   12   22        NaN
0  NaN  NaN      200.0

In [146]:
full_attr_df = pd.DataFrame({'A':['11','12'],'B':['21','22']})

result_attr_df = pd.concat([full_attr_df, curent_attr_df], axis = 0)
result_attr_df

     A    B  http_code
0   11   21        NaN
1   12   22        NaN
0  NaN  NaN      200.0

In [159]:
gtin_list = [1,2,3,4,5,6,7,8,9,10]
batch_size = 4

full_attr_df = pd.DataFrame()

if len(gtin_list) >= batch_size:
    while len(gtin_list) >= batch_size:

        curent_gtin_list = gtin_list[:batch_size]
        print('curent_gtin_list = {}\n'.format(curent_gtin_list))
        gtin_list = gtin_list[batch_size:]
        print('gtin_list = {}\n'.format(gtin_list))

        curent_attr_df = pd.DataFrame({'GTIN':curent_gtin_list})
        print('curent_attr_df=\n',curent_attr_df)

        if len(full_attr_df) < 1:
            print('первый проход:')
            full_attr_df = curent_attr_df.copy()
            print('full_attr_df=\n',full_attr_df)
        else:
            full_attr_df = pd.concat([full_attr_df, curent_attr_df], axis = 0)
            print('full_attr_df=\n',full_attr_df)
    curent_gtin_list = gtin_list
    curent_attr_df = pd.DataFrame({'GTIN':curent_gtin_list})
    print('curent_attr_df=\n',curent_attr_df)
    full_attr_df = pd.concat([full_attr_df, curent_attr_df], axis = 0)
    
else:
    curent_gtin_list = gtin_list
    full_attr_df = pd.DataFrame({'GTIN':curent_gtin_list})
    
print('итоговое значение full_attr_df=\n',full_attr_df)

curent_gtin_list = [1, 2, 3, 4]

gtin_list = [5, 6, 7, 8, 9, 10]

curent_attr_df=
    GTIN
0     1
1     2
2     3
3     4
первый проход:
full_attr_df=
    GTIN
0     1
1     2
2     3
3     4
curent_gtin_list = [5, 6, 7, 8]

gtin_list = [9, 10]

curent_attr_df=
    GTIN
0     5
1     6
2     7
3     8
full_attr_df=
    GTIN
0     1
1     2
2     3
3     4
0     5
1     6
2     7
3     8
curent_attr_df=
    GTIN
0     9
1    10
итоговое значение full_attr_df=
    GTIN
0     1
1     2
2     3
3     4
0     5
1     6
2     7
3     8
0     9
1    10

In [160]:
x = '123'

In [162]:
y = x[:2]
y

'12'